.elixir-header {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: -77px;
    z-index: 10;
    transition: top 0.4s;
}


@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        filter: blur(5px);
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        filter: blur(0px);
        transform: translateX(0);
    }
}

.elixir-header__header-top-side {
    background: var(--white-bg);
    height: 76px;
    display: flex;
    align-items: center;

}

.elixir-header__header-bottom-side {
    height: 60px;
    background: var(--main-bg-color);
    width: 100%;
    display: flex;
    align-items: center;
}

.header-navigation__list-container--active {
    border-top: 2px solid var(--white-bg);
}

/* header top side */
.header-top-side__elixir-logo-contacts {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.elixir-logo-contacts__main-page {
    text-decoration: none;
}

.elixir-logo-contacts__main-page img {
    width: 166px;
}

.elixir-logo-contacts__tagline {
    font-family: var(--main-font);
    color: var(--main-font-color);
    font-weight: normal;
    font-size: 21px;
    line-height: 21px;
    letter-spacing: 0.02em;
    margin-left: 70px;

}

.elixir-logo-contacts__socials {
    display: flex;
    width: 70px;
    align-items: center;
    justify-content: space-between;
}

.social__header-link {
    width: 29px;
    height: 29px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}

.social__header-link img {
    width: 29px;
    height: 29px;
}

.social__header-link:hover {
    box-shadow: 0 0 6px 0 var(--main-bg-color);
    -webkit-box-shadow: 0 0 6px 0 var(--main-bg-color);
    -moz-box-shadow: 0 0 6px 0 var(--main-bg-color);
}

.elixir-logo-contacts__download-catalog {
    background: var(--white-bg);
    border: 1px solid var(--main-bg-color);
    border-radius: 15px;
    height: 31px;
    max-width: 159px;
    width: 100%;
    color: var(--main-bg-color);
    font-family: var(--main-font);
    font-size: 12px;
    font-weight: normal;
    line-height: 15px;
    cursor: pointer;
    outline: none;
}

.elixir-logo-contacts__download-catalog img {
    padding-left: 4px;
}

.elixir-logo-contacts__contact-us-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.contact-us-header__phone-number {
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: var(--main-font-color);
    text-decoration: none;
}

.contact-us-header__left-application {
    font-family: var(--main-font);
    font-size: 12px;
    font-weight: normal;
    line-height: 13px;
    text-decoration: none;
    color: var(--second-font-color);
    border-bottom: 1px solid var(--second-font-color);
}

/* header bottom side */

.header-bottom-side__header-navigation {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

.header-bottom-side__header-navigation > nav {
    width: 100%;
    max-width: 850px;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.header-bottom-side__header-navigation > nav > nav {
    display: none;
}

.header-bottom-side__header-navigation nav > ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: space-between;
    height: 100%;
}

.header-bottom-side__header-navigation nav > ul > li {
    border-bottom: 2px solid transparent;
    transition: border 0.3s;
    box-sizing: border-box;
    position: relative;
}

.header-bottom-side__header-navigation nav > ul > li > ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    /*background: var(--white-bg);*/
    z-index: 2;
    top: 60px;
    left: 0;
    width: 305px;
    visibility: hidden;
    opacity: 0;
    border: 1px solid var(--lines-bg);
    border-bottom: none;
}

.header-bottom-side__header-navigation nav > ul > li:hover > ul,
.header-bottom-side__header-navigation nav > ul > li > ul > li:hover > ul {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.3s, opacity 0.3s;
    box-shadow: 0 0 11px 1px rgba(0, 0, 0, 0.07);
}


.header-bottom-side__header-navigation nav > ul > li > ul > li,
.header-bottom-side__header-navigation nav > ul > li > ul > li > ul > li {
    height: 40px;
    width: 100%;
    background: var(--cultures-bg-color);
    box-sizing: border-box;
    border-bottom: 1px solid var(--lines-bg);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    transition: background-color 0.3s;
}


.header-bottom-side__header-navigation nav > ul > li > ul > li::after {
    content: url("../img/chevron-right.png");
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translate(0, -50%);
    transition: transform 0.3s;

}

.header-bottom-side__header-navigation nav > ul > li > ul > li:hover::after {
    content: url("../img/chevron-right--active.png");
    transform: translate(0, -50%) rotate(180deg);
    transition: transform 0.3s;
}

.header-bottom-side__header-navigation nav > ul > li > ul > li:hover,
.header-bottom-side__header-navigation nav > ul > li > ul > li > ul > li:hover {
    background: var(--white-bg);
    transition: background-color 0.3s;
}

.header-bottom-side__header-navigation nav > ul > li > ul > li:hover > a,
.header-bottom-side__header-navigation nav > ul > li > ul > li > ul > li:hover > a {
    color: var(--main-bg-color);
    transition: color 0.3s;
}

.header-bottom-side__header-navigation nav > ul > li > ul > li > a,
.header-bottom-side__header-navigation nav > ul > li > ul > li > ul > li > a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--main-font);
    font-size: 13px;
    line-height: 14px;
    color: var(--second-font-color);
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: bold;
    transition: color 0.3s;
    width: 100%;
    padding: 0 21px;

}

.header-bottom-side__header-navigation nav > ul > li > ul > li > ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    background: var(--white-bg);
    z-index: 2;
    top: -1px;
    left: 100%;
    width: 305px;
    visibility: hidden;
    opacity: 0;
    border: 1px solid var(--lines-bg);
    border-bottom: none;
}

.header-bottom-side__header-navigation nav > ul > li:hover {
    border-bottom: 2px solid var(--white-bg);
    transition: border 0.3s;
}

.header-bottom-side__header-navigation nav > ul > li > a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--main-font);
    font-size: 13px;
    line-height: 14px;
    color: var(--white-bg);
    height: 100%;
    display: flex;
    align-items: center;
}

.header-navigation__language-cart-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 245px;
    width: 100%;
}

.header-navigation__search-cart-block {
    display: flex;
    align-items: center;
}

.search-cart-block__search-container {
    position: relative;
}


.search-container__search-icon-block {
    width: 47px;
    height: 47px;
    cursor: pointer;
    background: url("../img/searching.svg") no-repeat center;
}

.search-cart-block__cart {
    position: relative;
    padding: 15px 14px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.number-of-items-cart {
    position: absolute;
    font-family: var(--main-font);
    font-weight: bold;
    display: flex;
    font-size: 10px;
    width: 16px;
    height: 16px;
    color: var(--main-font-color);
    top: 0;
    right: 0;
    background: var(--white-bg);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transform: translate(-15%, 30%);
}

.header-navigation__language-buttons {
    display: flex;
    height: 100%;
    width: 65px;
}

.language-buttons__item {
    color: #6db481;
}

.language-buttons__item--active {
    border-bottom: 2px solid var(--white-bg) !important;
}

.language-buttons__item--active .language-buttons__item {
    color: var(--white-bg);

}

.elixir-logo-contacts__main-page--mob {
    display: none;
}

.mob-burger-button {
    display: none;
}

.burger-checkbox-label {
    display: flex;
    width: 28px;
    height: 23px;
    flex-direction: column;
    justify-content: space-between;
}

.burger-checkbox-span {
    display: inline-block;
    width: 100%;
    height: 2px;
    background: var(--white-bg);
    transition: opacity 0.3s, transform 0.3s;
}

.burger-checkbox-input {
    display: none;
}

@media screen and  (max-width: 768px) {
    .elixir-header {
        width: 100%;
        top: 0;
    }

    .header-bottom-side__header-navigation {
        justify-content: space-between;
        position: relative;
    }

    .header-bottom-side__header-navigation > nav {
        max-width: none;
        display: flex;
        width: 50%;
        position: fixed;
        left: -50%;
        top: 58px;
        background: var(--main-bg-color);
        height: 65%;
        transition: left 0.3s, visibility 0.3s, opacity 0.3s;
        visibility: hidden;
        flex-direction: column;
        z-index: 5;
        opacity: 0;
    }


    .header-bottom-side__header-navigation > nav > ul {
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        padding: 2px 25px;
        box-sizing: border-box;
    }

    .header-bottom-side__header-navigation > nav > ul li {
        margin: 5px 0;
        height: 32px;
    }

    .header-bottom-side__header-navigation nav > ul > li > ul > li,
    .header-bottom-side__header-navigation nav > ul > li > ul > li > ul > li {
        margin: 0;

    }


    nav.header-navigation__list-container--active {
        left: -15px;
        opacity: 1;
        transition: left 0.3s, visibility 0.3s, opacity 0.3s;
        visibility: visible;
    }

    .header-navigation__list-container nav.header-navigation__language-buttons {
        display: flex;
        flex-direction: row;
        align-self: flex-end;
        width: 100px;
        align-items: flex-end;
        padding-right: 20px;
    }

    nav.header-navigation__language-buttons > ul {
        flex-direction: row;
        box-sizing: border-box;
        padding: 0 25px;
        height: 30px;
        align-items: center;
        justify-content: space-between;
        margin: 0 15px 15px 0;
    }


    .header-navigation__language-cart-container {
        justify-content: flex-end;
        max-width: 65px;
    }

    .mob-burger-button {
        display: flex;
        align-items: center;
    }

    .burger-checkbox-input:checked + .burger-checkbox-label .burger-checkbox-span:nth-child(2) {
        opacity: 0;
    }

    .burger-checkbox-input:checked + .burger-checkbox-label .burger-checkbox-span:first-child {
        transform: rotate(45deg) translateY(15px);
        margin-left: 10px;

    }

    .burger-checkbox-input:checked + .burger-checkbox-label .burger-checkbox-span:last-child {
        transform: rotate(-45deg) translateY(-15px);
        margin-left: 10px;
    }

    .burger-checkbox-input:checked .header-navigation__list-container {
        display: flex;
    }

    .elixir-header__header-top-side,
    nav.header-navigation__language-buttons {
        display: none;
    }

    .elixir-logo-contacts__main-page--mob {
        display: block;
        max-width: 150px;
    }

    .elixir-logo-contacts__main-page--mob img {
        width: 100%;
    }

    .header-bottom-side__header-navigation nav > ul {
        display: flex;
    }

    .header-bottom-side__header-navigation nav > ul > li > a {
        justify-content: center;


    }

    .header-bottom-side__header-navigation nav > ul > li {
        padding: 8px 0;
        margin-left: 15px;
    }

    .header-bottom-side__header-navigation nav > ul > li > ul,
    .header-bottom-side__header-navigation nav > ul > li > ul > li > ul {
        width: 50%;
        top: 100%;
        left: 0;
    }


    .header-bottom-side__header-navigation nav > ul > li > ul > li > ul {
        top: 0;
        width: 100%;
        left: 100%;
    }

}

@media screen and (max-width: 531px) {
    nav.header-navigation__list-container {
        width: calc(100% + 15px);
        height: calc(100% - 57px);
    }

    .elixir-logo-contacts__main-page--mob {
        max-width: 130px;
    }

    .search-container__search-icon-block.search-open + input[type='text'] {
        right: -100%;
        left: auto;
    }

    .search-cart-block__search-container .entered-text + ul {
        width: 285px;
        right: -100%;

    }
}
