/* main home page */


.elixir-main-part {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 0;

}

.elixir-main-part__video-banner {
    height: 600px;
    width: 100%;
    position: relative;

}

.video-banner__video-container {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.video-banner__video-container:before {
    content: '';
    z-index: 1;
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.video-banner__elixir-main-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.elixir-main-info__about-elixir-container {
    display: flex;
    flex-direction: column;
    max-width: 640px;

}

.about-elixir-container__about-elixir-title {
    display: flex;
    align-items: center;
}

.about-elixir-title__central-line {
    width: 70px;
    height: 1px;
    background: var(--white-bg);
}

.about-elixir-title__logo {
    margin-left: -8px;
    position: relative;
}

.about-elixir-title__logo:before {
    position: absolute;
    content: '\00AE';
    color: var(--white-bg);
    left: 23px;
    top: 50%;
    transform: translateY(-50%);
}

.about-elixir-title__about-text {
    font-family: var(--main-font);
    color: var(--white-bg);
    font-size: 32px;
    line-height: 48px;
    font-weight: normal;
    margin-top: 25px;
}

.elixir-main-info__elixir-features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 275px;
    margin: 50px 35px 35px;
}

.elixir-features__features-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0 0 0 25px;
    padding: 0;
}

.features-list__features-item {
    border-bottom: 2px solid var(--white-bg);
    margin: 15px 0 34px;
    position: relative;
    cursor: pointer;
}

.features-list__features-link {
    text-decoration: none;
    color: var(--white-bg);
    font-family: var(--main-font);
    font-weight: normal;
    font-size: 12px;
    line-height: 21px;
    padding: 8px 0;
    opacity: 0.8;
    text-transform: uppercase;
}

.features-list__features-item span {
    position: absolute;
    display: inline-block;
    left: -15px;
    top: 10px;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    box-sizing: border-box;
    margin-right: 20px;
    transition: width 0.6s, height 0.6s;

}

.features-list__features-item span img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.6;
}


.features-list__features-item:hover span {
    border: 1px solid rgba(255, 255, 255, 0.6);
    width: 81px;
    height: 81px;
    transition: width 0.6s, height 0.6s;
}

.features-list__features-item:hover span img {
    opacity: 1;
}

.features-list__features-item:hover .features-list__features-link {
    opacity: 1;
    text-decoration: underline;
    font-weight: bold;

}


/* main part interactive block */

.elixir-main-part__interactive-manure {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    min-height: 650px;
    width: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 26%, rgba(234, 240, 241, 1) 60%);
}

.interactive-manure__background-block {
    background: url("../img/manures-bg.png") no-repeat left top;
    min-height: inherit;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.interactive-manure__production-create {
    display: flex;
    flex-direction: column;
}

.production-create__production-numbers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 325px;
    height: 135px;
    margin: 18px 0;
}

.production-numbers__top-line {
    display: inline-block;
    width: 70px;
    height: 1px;
    background: var(--partners-border);
}

.production-numbers__title {
    margin: 0;
    font-family: var(--main-font);
    color: var(--main-bg-color);
    font-size: 32px;
    line-height: 25px;
    font-weight: bold;

}

.production-numbers__subtitle {
    font-family: var(--main-font);
    color: var(--second-font-color);
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
}

.interactive-manure__circle-container {
    position: relative;
    min-height: inherit;
}

.interactive-manure__interactive-circle {
    position: absolute;
    right: 0;
    bottom: 50%;
    background: url("../img/djubrivo21.jpg") no-repeat center;
    background-size: cover;
    width: 920px;
    height: 920px;
    border-radius: 50%;
    transform: translate(25%, 50%);
}

.btn-up, .btn-dwn {
    position: absolute;
    width: 32px;
    height: 32px;
    background: url("../img/arrow-click-bg.png") no-repeat center, white;
    left: 50px;
    top: 155px;
    border-radius: 50%;
    z-index: 2;
    -webkit-box-shadow: 1px -1px 1px 0 var(--main-bg-color);
    -moz-box-shadow: 1px -1px 1px 0 var(--main-bg-color);
    box-shadow: 1px -1px 1px 0 var(--main-bg-color);
    cursor: pointer;
    transition: 0.2s;
}

.btn-dwn {
    top: 730px;
    transform: rotate(105deg);
}

.interactive-circle__control-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.4s;
}

.interactive-circle__control-circle circle.control-circle__central-dot {
    r: 3.5;
    transition: r 0.4s, cy 0.4s, cx 0.4s;
    cursor: pointer;
}

.interactive-circle__control-circle circle.control-circle__central-dot--additional {
    r: 5.5;
    transition: r 0.4s, cy 0.4s, cx 0.4s;
    opacity: 0;
}

.interactive-circle__manures-container {
    display: inline-block;
    position: absolute;
    width: 1366px;
    height: 1366px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: 0.4s;
}

.single-manure-type {
    position: absolute;
    transform: translate(-50%, -50%);
    transition: 0.4s;
    display: flex;
    align-items: flex-end;

}

.single-manure__text-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 80px;
}

.single-manure__title {
    font-family: var(--main-font);
    font-size: 12px;
    line-height: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.single-manure__underline {
    display: inline-block;
    width: 100%;
    height: 1px;
    background: var(--lines-manure-bg);
    margin: 8px 0 25px;
}

.single-manure__picture {
    margin-left: -7px;
}

.single-manure__activet.single-manure__active-90,
.single-manure__activet.single-manure__active-180,
.single-manure__activet.single-manure__active-270 {
    background: #c81f26;
    width: calc(100% - 10px);
    transition: 0.3s width;

}

.single-manure__activet.single-manure__active-120,
.single-manure__activet.single-manure__active-210 {
    background: #00662a;
    width: calc(100% - 10px);
    transition: 0.3s width;

}

.single-manure__activet.single-manure__active-150,
.single-manure__activet.single-manure__active-240 {
    background: #227ec0;
    width: calc(100% - 10px);
    transition: 0.3s width;


}


.interactive-circle__control-circle circle.control-circle__central-dot:hover {
    r: 7.5;
    stroke-width: 4;
    stroke: transparent;
    border: 1px solid #00662a;
    border-radius: 50%;
    transition: r 0.4s, cy 0.4s, cx 0.4s;
    background: radial-gradient(circle, rgba(255, 255, 255, 0) 75%, rgba(0, 102, 42, 1) 75%);
}


/* choose culture */
.elixir-main-part__choose-culture {
    min-height: 1368px;
    width: 100%;
    background: url("../img/organic-white-baby-potatoes.png") no-repeat right top,
    url("../img/tomatos-bg.png") no-repeat left bottom;
    background-color: #eef2f3;

}

.choose-culture__culture-container {
    min-height: inherit;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 130px 0;
    box-sizing: border-box;

}

.part-title-block {
    max-width: 370px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.part-title-block--partners {
    max-width: 456px;
    width: 100%;
}

.part-title-block__top-line {
    height: 3px;
    display: inline-block;
    width: 100%;
    max-width: 370px;
    background: var(--lines-bg);
}

.part-title-block__title {
    font-family: var(--main-font);
    color: var(--main-font-color);
    font-size: 32px;
    line-height: 46px;
    font-weight: bold;
    margin: 35px 0;
}

.culture-container__culture-type {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.culture-type__single-culture {
    width: 365px;
    height: 209px;
    min-width: 210px;
    background: white;
    margin: 15px 0;
    background-size: cover !important;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    text-decoration: none;
    transition: 0.3s;
    -webkit-box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.1);
}

.single-culture__name-block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.name-block__top-line {
    display: inline-block;
    width: 100%;
    height: 1px;
    background: var(--lines-bg);
    transition: 0.3s;

}

.name-block__title {
    display: inline-block;
    font-weight: 500;
    font-family: var(--main-font);
    margin: 25px 0 25px 27px;
    color: var(--second-font-color);
    font-size: 14px;
    line-height: 25px;

}

.culture-type__single-culture:hover {
    transform: scale(1.05, 1.05);
    transition: 0.3s;
}

.culture-type__single-culture:hover .name-block__top-line {
    width: calc(100% - 10px);
    background: var(--main-bg-color);
    transition: 0.3s;
}

.culture-type__single-culture:hover .name-block__title {
    color: var(--main-bg-color);
    text-decoration: underline;
    transition: 0.3s;
    font-weight: bold;

}

/* our partners */

.elixir-main-part__our-partners {
    background: var(--white-bg);
    min-height: 738px;

}

.our-partners__partners-container {
    min-height: inherit;
    padding: 130px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url("../img/partners-block-bg.png") no-repeat right 130px;
}

.part-title-block__subtitle {
    font-family: var(--main-font);
    font-weight: normal;
    color: var(--second-font-color);
    font-size: 14px;
    line-height: 25px;
}

.partners-container__partners-logos {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 52px;

}

.partners-logos__single-partner {
    width: 195px;
    height: 195px;
    border: 1px solid var(--partners-border);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: -1px;
}

/* quality control */

.elixir-main-part__quality-control {
    min-height: 1080px;
    background: var(--quality-control-bg);
    width: 100%;
}

.quality-control__container {
    width: 100%;
    min-height: inherit;
    padding: 136px 15px 130px;
    box-sizing: border-box;
    display: flex;
}

.quality-control__picture-container {
    width: 100%;
    max-width: 43%;
    min-height: 20%;
    max-height: 619px;
    background: url("../img/quality-bg.png") no-repeat center;
    background-size: 100% 100%;
    position: relative;
}

.quality-control__picture-container:after {
    display: inline-block;
    margin: 18% 0 0 18%;
    content: '';
    background: url("../img/quality-woman-bg.png") no-repeat center;
    width: 100%;
    height: 100%;
    background-size: contain;
}

.quality-control__quality-text-part {
    flex-grow: 1;
    max-width: 900px;
    /*min-height: 753px;*/
    background: var(--white-bg);
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

.quality-text-part__container {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin-top: 112px;
    height: 100%;
    justify-content: flex-start;
}

.quality-text-part__topline {
    max-width: 370px;
    display: inline-block;
    width: 100%;
    height: 3px;
    background: var(--second-font-color);
    opacity: 0.2;
    margin-bottom: 23px;
}

.quality-text-part__control-title {
    font-family: var(--main-font);
    color: var(--main-font-color);
    font-size: 32px;
    line-height: 46px;
    font-weight: bold;
    margin: 0 0 23px;
}

.quality-text-part__control-text {
    font-weight: normal;
    font-family: var(--main-font);
    color: var(--second-font-color);
    font-size: 14px;
    line-height: 25px;
    max-width: 450px;
    margin: 0 0 23px;

}

.quality-text-part__quot {
    font-family: var(--main-font);
    color: var(--main-bg-color);
    font-weight: normal;
    font-size: 30px;
    line-height: 32px;
    position: relative;
    z-index: 4;
    margin: 23px 0 46px;

}

.quality-text-part__quot:after {
    content: url("../img/left-quote.png");
    position: absolute;
    top: 105%;
    right: -5%;
}

.quality-text-part__image {
    display: none;
    float: right;
}

.elixir-main-part__quality-control .container {
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 1440px) {
    .interactive-manure__interactive-circle {
        transform: scale(0.8, 0.8) translate(60%, 64%);
    }
}

@media screen and (max-width: 1280px) {
    .quality-control__picture-container {
        width: 340px;
        max-height: 360px;
        background: url("../img/quality-bg.png") no-repeat center;
        background-size: 100% 100%;
        position: relative;
    }
}

@media screen and (max-width: 950px) {
    .quality-control__picture-container {
        display: none;
    }

    .quality-text-part__container {
        min-height: 430px;
    }
}

@media (max-width: 768px) {
    .quality-control__picture-container {
        display: none;
    }

    .elixir-main-part__video-banner {
        background-size: cover;
    }

    .video-banner__elixir-main-info {
        flex-direction: column;
    }

    .about-elixir-title__about-text {
        font-size: 24px;
        line-height: 38px;
    }

    .elixir-main-info__elixir-features {
        width: 300px;
        margin: 15px 0;
    }

    .video-banner__elixir-main-info {
        flex-direction: column;
    }

    .interactive-manure__background-block {
        background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(234, 240, 241, 1) 20%);
    }

    .elixir-main-part__interactive-manure {
        flex-direction: column;
        background: none;
    }

    .interactive-manure__production-create {
        justify-content: center;
        align-items: center;
    }

    .interactive-manure__circle-container {

        overflow: hidden;
        height: 600px !important;
    }

    .interactive-manure__interactive-circle {
        transform: scale(0.65, 0.65) translate(70%, 77%) !important;
    }


    .single-manure-type {
        transform-origin: 0 0;
        transform: scale(1.4);
        /*margin-left: -130px;*/
        /*margin-top: -50px;*/
        margin: -50px 0 30px -130px;
        padding: 20px 0;
    }

    .btn-dwn, .btn-up {
        transform: scale(1.4);
    }

    .btn-dwn {
        transform: scale(1.4) rotate(105deg);
    }

    .elixir-main-part__choose-culture {
        background: url("../img/organic-white-baby-potatoes.png") no-repeat right -6%,
        url("../img/tomatos-bg.png") no-repeat left 120%;
        background-color: #eef2f3;
        background-size: 50%;
        min-height: 0;
    }

    .culture-type__single-culture {
        width: 47%;
        height: 175px;
    }

    .our-partners__partners-container {
        background: none;
        align-items: center;
        padding: 130px 0 0;
    }

    .partners-container__partners-logos {
        margin: 52px 0 30px;
    }

    .elixir-main-part__quality-control {
        /*background: none;*/
        min-height: 0;
    }

    .elixir-main-part__quality-control .container {
        background: var(--white-bg);
        margin-bottom: 120px;
    }

    .quality-text-part__container {
        max-width: 100%;
        min-height: 480px;
        margin-top: 15px;
    }

    .quality-control__container {
        padding: 0 15px;
    }

    .quality-text-part__image {
        display: block;
        margin-top: -95px;
        position: relative;
        width: 125px;
        height: 155px;
        background: url("../img/bg-mob-quality.png") no-repeat left top;

    }

    .quality-text-part__image:after {
        display: inline-block;
        content: '';
        background: url("../img/lab2.png") no-repeat left top;
        background-size: 80% 80%;
        width: 150px;
        height: 192px;
        margin: 15px 0 0 20px;
    }

    .quality-text-part__topline {
        max-width: 50%;
    }

    .quality-text-part__control-title {
        max-width: 80%;
        margin: 0 0 23px;
    }

    .quality-text-part__control-text {
        max-width: 100%;
        margin: 0 0 23px;
    }

    .quality-text-part__quot {
        max-width: 480px;
        z-index: 2;
        font-size: 24px;
        color: var(--main-font-color);
        font-style: italic;
        font-weight: bold;
        margin: 0 0 -30px;
        float: bottom;

    }

    .quality-text-part__quot:after {
        content: none;
    }

    .quality-control__quality-text-part {
        position: relative;
    }

    .quality-control__quality-text-part:after {
        content: url("../img/left-quote.png");
        position: absolute;
        top: 95%;
        left: 375px;
    }

    .choose-culture__culture-container {
        padding: 50px 0;
    }
}

@media screen and (max-width: 531px) {
    .culture-container__culture-type {
        justify-content: space-between !important;
    }

    .culture-type__single-culture {
        width: 47%;
        height: 120px;
        min-width: 110px;
    }

    .interactive-manure__interactive-circle {
        transform: scale(0.65, 0.65) translate(88%, 77%) !important;
    }

    .single-manure-type {
        transform-origin: 0 0;
        transform: scale(1.5);
        margin-left: -145px;
        margin-top: -50px;
    }

    .part-title-block__title {
        font-size: 28px;
    }

    .elixir-main-part__choose-culture {
        background: url("../img/organic-white-baby-potatoes.png") no-repeat right -1%,
        url("../img/tomatos-bg.png") no-repeat left 105%;
        background-color: #eef2f3;
        background-size: 50%;
    }

    .name-block__title {
        font-size: 12px;
        margin: 14px 0 14px 16px;
    }

    .partners-logos__single-partner {
        width: 50%;
        height: 150px;
    }

    .partners-logos__single-partner img {
        width: 80%;
    }

    .quality-text-part__control-title {
        max-width: 50%;
    }

    .quality-control__quality-text-part:after {
        left: unset;
        right: 5%;
    }

    .quality-text-part__image {
        display: block;
        margin-top: -140px;
    }
}

@media screen and (max-width: 425px) {
    .interactive-manure__interactive-circle {
        transform: scale(0.55, 0.55) translate(100%, 90%) !important;
    }

}

@media screen and (max-width: 370px) {
    .interactive-manure__interactive-circle {
        transform: scale(0.55, 0.55) translate(110%, 90%) !important;
    }

}

/* item page */

.elixir-item-page {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    width: 100%;
}

.item-page-container__item-page {
    display: flex;
    flex-direction: column;
}

.item-page__categories-block {
    display: none;
}

.categories-block__categories-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: space-evenly;
}

.categories-list__list-item {
    background: white;
    box-sizing: border-box;
    width: 81px;
    height: 81px;
    border: 1px solid transparent;
    border-radius: 50%;
    position: relative;
    transition: border 0.3s;

}

.categories-list__list-item:first-child .categories__list-link {
    color: var(--main-bg-color);
}

.categories-list__list-item:nth-child(2) .categories__list-link {
    color: #c81f26;
}

.categories-list__list-item:nth-child(3) .categories__list-link {
    color: #113d66;
}

.categories-list__list-item:nth-child(4) .categories__list-link {
    color: #227ec0;
}

.categories-list__list-item:nth-child(5) .categories__list-link {
    color: #010103;
}

.categories__list-link {
    text-decoration: none;
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0, -50%);
    white-space: nowrap;
    padding: 10px 10px 0;
    box-sizing: border-box;

}

.categories-list__list-item:hover {
    border: 1px solid rgba(0, 102, 42, 0.3);
    transition: border 0.3s;
}

.item-page__breadcrumbs {
    display: flex;
    justify-content: flex-start;
    margin: 28px 0;
}

.breadcrumbs {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.breadcrumbs__list-link {
    color: var(--second-font-color);
    text-decoration: none;
    font-family: var(--main-font);
    font-size: 13px;
    line-height: 14px;
}

.breadcrumbs__list-link:hover {
    text-decoration: underline;
}

.breadcrumbs__list-item:last-child .breadcrumbs__list-link {
    color: var(--color-breadcrumb);
}

.breadcrumbs__list-item:first-child:before {
    content: none;
}

.breadcrumbs__list-item:before {
    content: '-';
    padding: 0 4px;

}

.item-page__product-info {
    display: flex;
    flex-direction: column;
}

.product-info__title-part {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

.title-part__title {
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 45px;
    line-height: 46px;
    color: var(--main-font-color);
}

.title-part__type-product {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 46px;
    color: var(--color-breadcrumb);
}

.product-info__product-details {
    display: flex;
    flex-direction: row;
}

.product-details__image-container,
.product-details__product-all-info {
    width: 50%;
}

.product-details__product-all-info {
    display: flex;
    flex-direction: column;
}

.product-details__image-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.product-details__image-container img {
    max-width: 383px;
    width: 65%;
}

.product-all-info__produced-by {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.produced-by__title {
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    color: var(--second-font-color);
}

.produced-by__subtext {
    font-weight: normal;
}


.product-all-info__amount-price {
    display: flex;
    flex-direction: row;
    margin: 28px 0;
}

.amount-price__amount-block,
.amount-price__price-block {
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center;
}

.amount-block__form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 8px;
    width: 140px;
}

.amount-block__form-container input {
    border-radius: 0;
    background: var(--white-bg);
    border-top: 1px solid var(--partners-border);
    border-bottom: 1px solid var(--partners-border);
    border-left: none;
    border-right: none;
    cursor: default;
    text-align: center;
    width: 50%;
    height: 31px;
    box-sizing: border-box;
    font-family: var(--main-font);
    color: var(--second-font-color);
    font-weight: normal;
    font-size: 14px;
}

.amount-block__form-container button {
    width: 25%;
    height: 31px;
    font-family: var(--main-font);
    color: var(--second-font-color);
    font-weight: bold;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.amount-block__form-container button:focus {
    outline: none;
}

.amount-block__form-container button:first-child {
    background: var(--white-bg);
    border-radius: 50% 0 0 50%;
    border: 1px solid var(--partners-border);
    padding-bottom: 2px;
    padding-left: 7px;
}

.amount-block__form-container button:last-child {
    background: var(--white-bg);
    border-radius: 0 50% 50% 0;
    border: 1px solid var(--partners-border);
    padding-right: 10px;
}

.amount-block__form-container input:focus {
    outline: none;
}

.amount-price__price-block {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.price-block__price {
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    color: var(--main-bg-color);
    padding-left: 8px;

}

.product-all-info__buy-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.buy-buttons__button {
    width: 256px;
    height: 51px;
    font-family: var(--main-font);
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    border-radius: 26px;
    outline: none;
    border: 1px solid var(--main-bg-color);
    transition: color 0.3s, background-color 0.3s;
    margin: 6px 0;
}

.buy-buttons__button:first-child {
    background-color: var(--main-bg-color);
    color: var(--white-bg);
    margin-right: 6px;

}

.buy-buttons__button:first-child:hover {
    color: var(--main-bg-color);
    background-color: var(--white-bg);
    transition: color 0.3s, background-color 0.3s;

}

.buy-buttons__button:last-child {
    color: var(--main-bg-color);
    background-color: var(--white-bg);
    margin-left: 6px;
}

.buy-buttons__button:last-child:hover {
    background-color: var(--main-bg-color);
    color: var(--white-bg);
    transition: color 0.3s, background-color 0.3s;

}

.product-all-info__product-description {
    width: 100%;
    display: flex;
    max-width: 525px;
    margin: 28px 0;
}

.product-all-info__product-description--additive {
    width: 100%;
    display: none;
    max-width: 525px;
    margin: 28px 0;
}

.product-description__text {
    font-family: var(--main-font);
    color: var(--second-font-color);
    font-size: 14px;
    line-height: 25px;
    font-weight: normal;
}

.product-all-info__product-description--additive .product-description__text {
    color: var(--main-font-color);
}

.product-all-info__cultures-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cultures-info__title {
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: var(--main-font-color);
}

.cultures-info__cultures-info-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 550px;
}

.cultures-info-block__single-culture-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    width: calc(100% / 6);
    margin: 10px 0;
}

.cultures-info-block__single-culture-info:hover .single-culture-info__img {
    border: 1px solid var(--main-bg-color);
    transition: border 0.3s;
}

.single-culture-info__img {
    width: 59px;
    height: 59px;
    border-radius: 50%;
    border: 1px solid transparent;
    background: var(--cultures-bg-color);
    transition: border 0.3s;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.single-culture-info__text {
    text-align: center;
    font-family: var(--main-font);
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    color: #595959;
    max-width: 60px;
}

.item-page__product-navs {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.product-navs__product-info-nav {
    height: 59px;
    display: flex;
    align-items: center;
    background: #fafafa;
    width: 30%;
    margin-top: 10px;
    transition: box-shadow 0.3s;

}

.product-navs__product-info-nav--active {
    -webkit-box-shadow: inset 0 0 14px 10px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: inset 0 0 14px 10px rgba(0, 0, 0, 0.07);
    box-shadow: inset 0 0 14px 10px rgba(0, 0, 0, 0.07);
    transition: box-shadow 0.3s;
}

.product-info-nav__nav-title {
    width: 100%;
    text-align: center;
    font-family: var(--main-font);
    color: var(--main-font-color);
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    opacity: 0.5;
    transition: opacity 0.3s;
    cursor: default;

}

.product-navs__product-info-nav--active .product-info-nav__nav-title {
    opacity: 1;
    transition: opacity 0.3s;
}

.item-page__product-nav-content {
    background: #fafafa;
}

.product-nav-content__nav-content-product {
    display: none;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s;

}

.product-nav-content__nav-content-product--active {
    display: flex;
    visibility: visible;
    opacity: 1;
    transition: visibility 0.3s, opacity 0.3s;
}

.nav-content-product__title {
    font-family: var(--main-font);
    font-weight: bold;
    color: var(--main-font-color);
    font-size: 32px;
    line-height: 46px;
    margin: 80px 0 20px;

}

.nav-content-product__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.nav-content-product__recommendation-block {
    width: calc(50% - 15px);
    margin: 15px 0;
    height: 209px;
    background: #f5f5f5;
    box-sizing: border-box;
    padding: 44px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.recommendation-block__text-block {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    max-width: 340px;
    justify-content: space-evenly;
    height: 100%;
}

.nav-content-product__content-point {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 15px 0;
    padding-right: 20px;
    box-sizing: border-box;
}

.recommendation-block__title {
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
    color: var(--main-font-color);
}

.recommendation-block__subtext {
    font-family: var(--main-font);
    font-weight: normal;
    font-size: 13px;
    line-height: 23px;
    color: var(--second-font-color);
}

.content-point__title,
.content-point__text {
    font-family: var(--main-font);
    font-size: 14px;
    line-height: 25px;
    color: #595959;
    font-weight: normal;
    max-width: 460px;
}

.content-point__title {
    font-weight: bold;
}

.nav-content-product__elementary-table {
    width: 31%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    max-height: 260px;
}

.nav-content-product__chemical-content-table {
    border: 1px solid var(--partners-border);
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 28px 0;

}

.chemical-content-table__chemical-line {
    width: 100%;
    border-bottom: 1px solid var(--partners-border);
    height: 60px;
    display: flex;
}

.chemical-content-table__chemical-line:last-child {
    border: 0;
}

.chemical-line__element {
    width: 80%;
    border-right: 1px solid var(--partners-border);
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 31px;
    box-sizing: border-box;
}

.chemical-line__element-percent,
.chemical-line__element {
    font-family: var(--main-font);
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: var(--second-font-color);
}

.chemical-line--main-element {
    color: var(--main-bg-color);
    font-weight: bold;
}

.chemical-line__element-percent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
}

.elementary-table__chemical-element {
    width: calc(50% - 15px);
    height: 86px;
    background: transparent;
    border: 1px solid var(--partners-border);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 28px 0;
    position: relative;
}

.elementary-table__chemical-element::after {
    content: '';
    position: absolute;
    top: 125%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-family: var(--main-font);
    color: var(--main-font-color);
    font-size: 14px;
    line-height: 14px;
}


.elementary-table__chemical-element:first-child::after {
    content: '2%';
}

.elementary-table__chemical-element:nth-child(2)::after {
    content: '9%';
}

.elementary-table__chemical-element:nth-child(3)::after {
    content: '0.2%';
}

.elementary-table__chemical-element:last-child::after {
    content: '0.1%';
}

.chemical-element__title {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 38px;
    line-height: 42px;
    color: var(--main-font-color);
}

.chemical-element__subtitle {
    font-family: var(--main-font);
    font-weight: normal;
    font-size: 13px;
    line-height: 25px;
}

/* recommended products */

.elixir-item-page__recommended-products {
    width: 100%;
    background: #fafafa;
}

.recommended-products__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0 60px;
}

.recommended-products__recommended-title {
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recommended-title__topline {
    background: var(--lines-bg);
    display: inline-block;
    width: 90%;
    height: 3px;
    margin: 45px 0;
}

.recommended-products__recommended-products-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.recommended-products-list__recommended-product-single {
    display: flex;
    flex-direction: column;
    width: 20%;
    min-width: 160px;
    align-items: center;
    text-decoration: none;
    margin: 30px 2%;
}

.recommended-product-single__img-container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 235px;
}

.recommended-product-single__img-container img {
    object-fit: contain;
}

.recommended-title__title {
    font-family: var(--main-font);
    font-weight: bold;
    text-align: center;
    color: var(--main-font-color);
    font-size: 32px;
    line-height: 46px;
}


.recommended-product-single__name-block {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.recommended-product-single__topline {
    width: 100%;
    height: 3px;
    display: inline-block;
    background: var(--lines-bg);
    margin: 24px 0;
}

.recommended-product-single__title {
    font-family: var(--main-font);
    color: var(--main-font-color);
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;

}

.recommendation-block__img-container {
    width: 114px;
    height: 114px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recommendation-block__img-container img {
    object-fit: fill;
}

.recommended-products-list__recommended-product-single:hover .recommended-product-single__topline{
    background-color: var(--main-bg-color);
    transition: background-color 0.3s;
}

@media screen  and (max-width: 768px) {
    .item-page__categories-block {
        display: flex;
        border-bottom: 1px solid var(--lines-bg);
    }


    .product-info__title-part {
        align-items: center;
        align-self: center;
        width: 100%;
    }

    .product-info__product-details {
        flex-direction: row;
    }

    .title-part__title {
        text-align: center;
    }

    .product-all-info__amount-price {
        flex-direction: column;
    }

    .amount-price__amount-block,
    .amount-price__price-block {
        width: 100%;
    }

    .product-all-info__buy-buttons {
        flex-direction: column;
    }

    .buy-buttons__button:first-child,
    .buy-buttons__button:last-child {
        margin-left: 0;
        margin-right: 0;
    }

    .cultures-info-block__single-culture-info {
        width: calc(100% / 4);
    }

    .item-page__product-navs {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .product-navs__product-info-nav {
        width: 100%;
    }

    .nav-content-product__content-point {
        width: 100%;
    }

    .nav-content-product__recommendation-block {
        width: 100%;
        justify-content: center;
    }

    .nav-content-product__elementary-table,
    .nav-content-product__chemical-content-table {
        width: 100%;
    }

    .nav-content-product__chemical-content-table {
        margin: 58px 0;
    }

    .elementary-table__chemical-element {

    }

    .nav-content-product__elementary-table {
        width: 90%;
        margin: 0 auto;
    }


    .recommended-products-list__recommended-product-single {
        width: 45%;
        margin: 30px 2%;
    }
}

@media screen and (max-width: 531px) {
    .product-info__product-details {
        flex-direction: column;
        align-items: center;
    }

    .product-details__image-container,
    .product-details__product-all-info {
        width: 100%;
        padding: 20px 0;
    }

    .product-details__image-container img {
        width: 55%;
    }

    .product-all-info__produced-by {
        align-items: center;
    }

    .product-all-info__buy-buttons {
        align-items: center;
    }

    .product-all-info__amount-price {
        margin: 14px 0;
    }

    .amount-price__amount-block,
    .amount-price__price-block {
        flex-direction: column;
        margin: 14px 0;
    }

    .product-description__text {
        text-align: center;
    }

    .product-all-info__product-description--additive {
        display: flex;
        margin-top: 0;
    }

    .product-all-info__cultures-info {
        align-items: center;
    }

    .recommended-products__recommended-products-list {
        justify-content: space-between;
    }

    .recommended-products-list__recommended-product-single {
        width: 40%;
        margin: 30px 0;
    }

}

