/* main home page */
.elixir-main-part {
    display: flex;
    flex-direction: column;
}

.elixir-main-part__video-banner {
    height: 600px;
    width: 100%;
    background: url("../img/Zorka-Plato1.png") no-repeat center;
    background-size: cover;
}

.video-banner__elixir-main-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.elixir-main-info__about-elixir-container {
    display: flex;
    flex-direction: column;
    max-width: 640px;

}

.about-elixir-container__about-elixir-title {
    display: flex;
    align-items: center;
}

.about-elixir-title__central-line {
    width: 70px;
    height: 1px;
    background: var(--white-bg);
}

.about-elixir-title__logo {
    margin-left: -8px;
    position: relative;
}

.about-elixir-title__logo:before {
    position: absolute;
    content: '\00AE';
    color: var(--white-bg);
    left: 23px;
    top: 50%;
    transform: translateY(-50%);
}

.about-elixir-title__about-text {
    font-family: var(--main-font);
    color: var(--white-bg);
    font-size: 32px;
    line-height: 48px;
    font-weight: normal;
    margin-top: 25px;
}

.elixir-main-info__elixir-features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 275px;
    margin: 50px 35px 35px;
}

.elixir-features__features-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0 0 0 25px;
    padding: 0;
}

.features-list__features-item {
    border-bottom: 2px solid var(--white-bg);
    margin: 15px 0 34px;
    position: relative;
    cursor: pointer;
}

.features-list__features-link {
    text-decoration: none;
    color: var(--white-bg);
    font-family: var(--main-font);
    font-weight: normal;
    font-size: 12px;
    line-height: 21px;
    padding: 8px 0;
    opacity: 0.8;
    text-transform: uppercase;
}

.features-list__features-item span {
    position: absolute;
    display: inline-block;
    left: -15px;
    top: 10px;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    box-sizing: border-box;
    margin-right: 20px;
    transition: width 0.6s, height 0.6s;

}

.features-list__features-item span img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.6;
}


.features-list__features-item:hover span {
    border: 1px solid rgba(255, 255, 255, 0.6);
    width: 81px;
    height: 81px;
    transition: width 0.6s, height 0.6s;
}

.features-list__features-item:hover span img {
    opacity: 1;
}

.features-list__features-item:hover .features-list__features-link {
    opacity: 1;
    text-decoration: underline;
    font-weight: bold;

}


/* main part interactive block */

.elixir-main-part__interactive-manure {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    min-height: 650px;
    width: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 26%, rgba(234, 240, 241, 1) 60%);
}

.interactive-manure__background-block {
    background: url("../img/manures-bg.png") no-repeat left top;
    min-height: inherit;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.interactive-manure__production-create {
    display: flex;
    flex-direction: column;
}

.production-create__production-numbers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 325px;
    height: 135px;
    margin: 18px 0;
}

.production-numbers__top-line {
    display: inline-block;
    width: 70px;
    height: 1px;
    background: var(--second-font-color);
}

.production-numbers__title {
    margin: 0;
    font-family: var(--main-font);
    color: var(--main-bg-color);
    font-size: 32px;
    line-height: 25px;
    font-weight: bold;

}

.production-numbers__subtitle {
    font-family: var(--main-font);
    color: var(--second-font-color);
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
}

.interactive-manure__circle-container {
    position: relative;
    min-height: inherit;
}

.interactive-manure__interactive-circle {
    position: absolute;
    right: 0;
    bottom: 50%;
    background: url("../img/djubrivo21.jpg") no-repeat center;
    background-size: cover;
    width: 920px;
    height: 920px;
    border-radius: 50%;
    transform: translate(25%, 50%);
}

.btn-up, .btn-dwn {
    position: absolute;
    width: 20px;
    height: 20px;
    background: blue;
    left: 40px;
    top: 186px;
    z-index: 2;
}

.btn-dwn {
    top: 714px;
}

.interactive-circle__control-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.4s;
}

.interactive-circle__control-circle circle.control-circle__central-dot {
    r: 3.5;
    transition: r 0.4s, cy 0.4s, cx 0.4s;
}

.interactive-circle__control-circle circle.control-circle__central-dot--additional {
    r: 5.5;
    transition: r 0.4s, cy 0.4s, cx 0.4s;
    opacity: 0;
}

.interactive-circle__manures-container {
    position: absolute;
    width: 1366px;
    height: 1366px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: 0.4s;
}

.single-manure-type {
    position: absolute;
    transform: translate(-50%, -50%);
    transition: 0.4s;
    display: flex;
    align-items: flex-end;

}

.single-manure__text-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 80px;
}

.single-manure__title {
    font-family: var(--main-font);
    font-size: 12px;
    line-height: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.single-manure__underline {
    display: inline-block;
    width: 100%;
    height: 1px;
    background: var(--lines-manure-bg);
    margin: 8px 0 25px;
}

.single-manure__picture {
    margin-left: -7px;
}

.single-manure__activet.single-manure__active-90,
.single-manure__activet.single-manure__active-180,
.single-manure__activet.single-manure__active-270 {
    background: #c81f26;
    width: calc(100% - 10px);
    transition: 0.3s width;

}

.single-manure__activet.single-manure__active-120,
.single-manure__activet.single-manure__active-210 {
    background: #00662a;
    width: calc(100% - 10px);
    transition: 0.3s width;

}

.single-manure__activet.single-manure__active-150,
.single-manure__activet.single-manure__active-240 {
    background: #227ec0;
    width: calc(100% - 10px);
    transition: 0.3s width;


}


.interactive-circle__control-circle circle.control-circle__central-dot:hover {
    r: 7.5;
    stroke-width: 4;
    stroke: transparent;
    border: 1px solid #00662a;
    border-radius: 50%;
    transition: r 0.4s, cy 0.4s, cx 0.4s;
    background: radial-gradient(circle, rgba(255, 255, 255, 0) 75%, rgba(0, 102, 42, 1) 75%);
}


/* choose culture */
.elixir-main-part__choose-culture {
    min-height: 1368px;
    width: 100%;
    background: url("../img/organic-white-baby-potatoes.png") no-repeat right top,
    url("../img/tomatos-bg.png") no-repeat left bottom;
    background-color: #eef2f3;

}

.choose-culture__culture-container {
    min-height: inherit;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 130px 0;
    box-sizing: border-box;

}

.part-title-block {
    width: 370px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.part-title-block--partners {
    max-width: 456px;
    width: 100%;
}

.part-title-block__top-line {
    height: 3px;
    display: inline-block;
    width: 100%;
    max-width: 370px;
    background: var(--lines-bg);
}

.part-title-block__title {
    font-family: var(--main-font);
    color: var(--main-font-color);
    font-size: 32px;
    line-height: 46px;
    font-weight: bold;
    margin: 35px 0;
}

.culture-container__culture-type {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.culture-type__single-culture {
    width: 365px;
    height: 209px;
    min-width: 210px;
    background: white;
    margin: 15px 0;
    background-size: cover !important;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    text-decoration: none;
    transition: 0.3s;
    -webkit-box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.1);
}

.single-culture__name-block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.name-block__top-line {
    display: inline-block;
    width: 100%;
    height: 1px;
    background: var(--lines-bg);
    transition: 0.3s;

}

.name-block__title {
    display: inline-block;

    font-family: var(--main-font);
    margin: 25px 0 25px 27px;
    color: var(--second-font-color);
    font-size: 14px;
    line-height: 25px;

}

.culture-type__single-culture:hover {
    transform: scale(1.05, 1.05);
    transition: 0.3s;
}

.culture-type__single-culture:hover .name-block__top-line {
    width: calc(100% - 10px);
    background: var(--main-bg-color);
    transition: 0.3s;
}

.culture-type__single-culture:hover .name-block__title {
    color: var(--main-bg-color);
    text-decoration: underline;
    transition: 0.3s;
    font-weight: bold;

}

/* our partners */

.elixir-main-part__our-partners {
    background: var(--white-bg);
    min-height: 738px;

}

.our-partners__partners-container {
    min-height: inherit;
    padding: 130px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url("../img/partners-block-bg.png") no-repeat right 130px;
}

.part-title-block__subtitle {
    font-family: var(--main-font);
    font-weight: normal;
    color: var(--second-font-color);
    font-size: 14px;
    line-height: 25px;
}

.partners-container__partners-logos {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 52px;

}

.partners-logos__single-partner {
    width: 195px;
    height: 195px;
    border: 1px solid var(--partners-border);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: -1px;
}

/* quality control */

.elixir-main-part__quality-control {
    min-height: 1080px;
    background: var(--quality-control-bg);
    width: 100%;
}

.quality-control__container {
    width: 100%;
    min-height: inherit;
    padding: 136px 15px 130px;
    box-sizing: border-box;
    display: flex;
}

.quality-control__picture-container {
    width: 100%;
    max-width: 43%;
    min-height: 20%;
    max-height: 619px;
    background: url("../img/quality-bg.png") no-repeat center;
    background-size: 100% 100%;
    position: relative;
}

.quality-control__picture-container:after {
    display: inline-block;
    margin: 18% 0 0 18%;
    content: '';
    background: url("../img/quality-woman-bg.png") no-repeat center;
    width: 100%;
    height: 100%;
    background-size: contain;
}

.quality-control__quality-text-part {
    flex-grow: 1;
    max-width: 900px;
    /*min-height: 753px;*/
    background: var(--white-bg);
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

.quality-text-part__container {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin-top: 112px;
    height: 100%;
    justify-content: flex-start;
}

.quality-text-part__topline {
    max-width: 370px;
    display: inline-block;
    width: 100%;
    height: 3px;
    background: var(--second-font-color);
    opacity: 0.2;
    margin-bottom: 23px;
}

.quality-text-part__control-title {
    font-family: var(--main-font);
    color: var(--main-font-color);
    font-size: 32px;
    line-height: 46px;
    font-weight: bold;
    margin: 0 0 23px;
}

.quality-text-part__control-text {
    font-weight: normal;
    font-family: var(--main-font);
    color: var(--second-font-color);
    font-size: 14px;
    line-height: 25px;
    max-width: 450px;
    margin: 0 0 23px;

}

.quality-text-part__quot {
    font-family: var(--main-font);
    color: var(--main-bg-color);
    font-weight: normal;
    font-size: 30px;
    line-height: 32px;
    position: relative;
    z-index: 4;
    margin: 23px 0 46px;

}

.quality-text-part__quot:after {
    content: url("../img/left-quote.png");
    position: absolute;
    top: 105%;
    right: -5%;
}

.quality-text-part__image {
    display: none;
    float: right;
}

.elixir-main-part__quality-control .container {
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 1440px) {
    .interactive-manure__interactive-circle {
        transform: scale(0.8, 0.8) translate(60%, 64%);
    }
}

@media screen and (max-width: 1280px) {
    .quality-control__picture-container {
        width: 340px;
        max-height: 360px;
        background: url("../img/quality-bg.png") no-repeat center;
        background-size: 100% 100%;
        position: relative;
    }
}

@media screen and (max-width: 950px) {
    .quality-control__picture-container {
        display: none;
    }

    .quality-text-part__container {
        min-height: 430px;
    }
}

@media (max-width: 768px) {
    .quality-control__picture-container {
        display: none;
    }

    .elixir-main-part__video-banner {
        background-size: cover;
    }

    .video-banner__elixir-main-info {
        flex-direction: column;
    }

    .about-elixir-title__about-text {
        font-size: 24px;
        line-height: 38px;
    }

    .elixir-main-info__elixir-features {
        width: 300px;
    }

    .video-banner__elixir-main-info {
        flex-direction: column;
    }

    .interactive-manure__background-block {
        background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(234, 240, 241, 1) 20%);
    }

    .elixir-main-part__interactive-manure {
        flex-direction: column;
        background: none;
    }

    .interactive-manure__production-create {
        justify-content: center;
        align-items: center;
    }

    .interactive-manure__circle-container {

        overflow: hidden;
    }

    .interactive-manure__interactive-circle {
        transform: scale(0.65, 0.65) translate(70%, 77%) !important;
    }

    .elixir-main-part__choose-culture {
        background: url("../img/organic-white-baby-potatoes.png") no-repeat right -6%,
        url("../img/tomatos-bg.png") no-repeat left 120%;
        background-color: #eef2f3;
        background-size: 50%;
    }

    .culture-type__single-culture {
        width: 235px;
        height: 175px;
    }

    .our-partners__partners-container {
        background: none;
        align-items: center;
        padding: 130px 0 0;
    }

    .partners-container__partners-logos {
        margin: 52px 0 30px;
    }

    .elixir-main-part__quality-control {
        /*background: none;*/
        min-height: 0;
    }

    .elixir-main-part__quality-control .container {
        background: var(--white-bg);
        margin-bottom: 120px;
    }

    .quality-text-part__container {
        max-width: 100%;
        min-height: 480px;
        margin-top: 15px;
    }

    .quality-control__container {
        padding: 0 15px;
    }

    .quality-text-part__image {
        display: block;
        margin-top: -95px;
        position: relative;
        width: 185px;
        height: 215px;
        background: url("../img/bg-mob-quality.png") no-repeat left top;

    }

    .quality-text-part__image:after {
        display: inline-block;
        content: url("../img/lab2.png");
        background: url("../img/lab2.png") no-repeat center;
        background-size: contain;
        width: 150px;
        height: 192px;
        margin: 25px 0 0 30px ;
    }

    .quality-text-part__topline {
        max-width: 50%;
    }

    .quality-text-part__control-title {
        max-width: 80%;
        margin: 0 0 23px;
    }

    .quality-text-part__control-text {
        max-width: 100%;
        margin: 0 0 23px;
    }

    .quality-text-part__quot {
        max-width: 480px;
        z-index: 2;
        font-size: 24px;
        color: var(--main-font-color);
        font-style: italic;
        font-weight: bold;
        margin: 0 0 -30px;
        float: bottom;

    }

    .quality-text-part__quot:after {
        content: none;
    }
    .quality-control__quality-text-part {
        position: relative;
    }
    .quality-control__quality-text-part:after {
        content: url("../img/left-quote.png");
        position: absolute;
        top: 95%;
        left: 375px;
    }
}

@media screen and (max-width: 531px) {
    .culture-container__culture-type {
        justify-content: center !important;
    }

    .culture-type__single-culture {
        width: 46%;
        height: 160px;
        min-width: 170px;
        margin: 15px;
    }

    .interactive-manure__interactive-circle {
        transform: scale(0.65, 0.65) translate(88%, 77%) !important;
    }

    .elixir-main-part__choose-culture {
        background: url("../img/organic-white-baby-potatoes.png") no-repeat right -1%,
        url("../img/tomatos-bg.png") no-repeat left 105%;
        background-color: #eef2f3;
        background-size: 50%;
    }

    .partners-logos__single-partner {
        width: 50%;
        height: 200px;
    }

    .quality-text-part__control-title {
        max-width: 50%;
    }

    .quality-control__quality-text-part:after {
        left: unset;
        right: 5%;
    }

    .quality-text-part__image {
        display: block;
        margin-top: -140px;
    }
}

@media screen and (max-width: 425px) {
    .interactive-manure__interactive-circle {
        transform: scale(0.55, 0.55) translate(105%, 90%) !important;
    }

}

