@import "./variables.css";
@import "./animation.css";
@import "./header.css";
@import "./main.css";
@import "./footer.css";

html {
    height: 100%;
}


body {
    margin: 0;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    flex-grow: 1;
    /*overflow-x: hidden;*/
    position: static;
    overflow-y: auto;

}

main {
    flex-grow: 1;
}


.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
}

img {
    opacity: 1;
    transition: opacity 0.3s;
}

.modal-certificate {
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    overflow-y: auto;

}

.modal-certificate__document-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 793px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 550;
}

.modal-certificate__document-container img {
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .modal-certificate__document-container {
        width: 90%;
        max-height: none;
    }

    .modal-certificate__document-container img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

body.scroll-hidden {
    overflow: hidden;
    width: 100%;
    padding-right: 17px;
    box-sizing: border-box;
}


.modal-certificate--active {
    visibility: visible;
    opacity: 1;
    z-index: 500;
    transition: visibility 0.3s, opacity 0.3s;
}

.close-modal-button {
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 551;
}

.close-modal-button:hover {
    background: rgba(0, 0, 0, 0.7);
}

.close-modal-button span {
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 2px;
    background: var(--white-bg);
    top: 19px;
    left: 10px;
    transform: rotate(45deg);
}

.close-modal-button span:last-child {
    transform: rotate(-45deg);
}

.demiweb {
    display: flex;
    align-items: center;
    font-family: var(--main-font);
    font-size: 13px;
    line-height: 25px;
    color: var(--white-bg);
    text-decoration: none;
    position: absolute;
    bottom: -80px;
    height: 42px;
    width: 180px !important;
    max-width: none !important;
}

.demiweb img {
    margin-right: 12px;
    height: 42px;
    width: 42px;
    max-width: 42px;
    object-fit: contain;
}

.elixir-modal-window {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 500;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    visibility: hidden;
    display: none;
    opacity: 0;
}

.elixir-modal-window.opened-modal {
    display: block;
    animation: visibleModal 0.4s linear;
    visibility: visible;
    opacity: 1;
}

.elixir-modal-window.search-block {
    /*filter: blur(20px);*/
    backdrop-filter: blur(20px);
}

.elixir-modal-window.search-block .container {
    position: relative;
}
.elixir-modal-window.search-block .elixir-modal-block {
    background: none;
    align-items: flex-start;
    width: 100%;
    padding-top: 10%;
    top: auto;
    left: auto;
    transform: translate(0, 0);
    height: auto;
}

.elixir-modal-window.search-block .elixir-modal-block .close-modal-block {
    top: 16%;
    background: none;
    font-size: 36px;
    line-height: 46px;
    color: var(--white-bg);
    transition: color 0.3s;
    right: 5px;

}

.elixir-modal-window.search-block .elixir-modal-block .close-modal-block:hover {
    color: var(--main-bg-color);
    transition: color 0.3s;
}

.elixir-modal-window.search-block .elixir-modal-block .elixir-modal-content {
    width: 90%;
    position: relative;
}
.elixir-modal-window.search-block input{
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--lines-bg);
    outline: none;
    width: 90%;
    height: 48px;
    font-family: var(--main-font);
    font-size: 32px;
    line-height: 36px;
    color: var(--white-bg);
    font-weight: normal;
}

.elixir-modal-window.search-block input::placeholder {
    color: var(--white-bg);
}

.elixir-modal-window.search-block ul {
    flex-direction: column;
    margin: 0;
    padding: 0;
    background: white;
    position: absolute;
    top: calc(100% + 50px);
    border: 1px solid var(--lines-bg);
    border-bottom: none;
    right: 0;
    box-shadow: 0 0 11px 1px rgba(0, 0, 0, 0.07);
    border-radius: 4px;
    overflow: hidden;
    display: none;
    z-index: 7;
    width: 100%;
}

.elixir-modal-window.search-block .entered-text + ul {
    display: flex;
    overflow-y: scroll;
    max-height: 600px;
}

.elixir-modal-window.search-block .entered-text + ul::-webkit-scrollbar {
    width: 0;
}

.elixir-modal-window.search-block ul > li {
    display: flex;
    border-bottom: 1px solid var(--lines-bg);
    width: 100%;
    align-items: center;
    font-family: var(--main-font);
    font-size: 14px;
    line-height: 25px;
    color: var(--second-font-color);
    justify-content: space-between;
    padding: 15px;
    box-sizing: border-box;
}

.elixir-modal-window.search-block ul > li > a {
    font-weight: bold;
    color: var(--main-font-color);
    padding: 15px;
}

.elixir-modal-window.search-block ul > li > img {
    width: 100%;
    max-width: 63px;
    height: 97px;
    object-fit: contain;
}

@keyframes visibleModal {
    0% {
        visibility: hidden;
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}

.elixir-modal-block {
    width: 570px;
    height: 519px;
    background: url("../img/popup-bg.png") no-repeat -1%, url("../img/popup-bg.png") no-repeat 101%, var(--white-bg);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-modal-block {
    position: absolute;
    width: 24px;
    height: 24px;
    background: url("../img/cancel.svg") no-repeat center;
    background-size: contain;
    border: none;
    outline: none;
    cursor: pointer;
    top: 13px;
    right: 23px;
}

.elixir-modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;

}

.elixir-modal-content h2 {
    font-family: var(--main-font);
    color: var(--main-font-color);
    font-size: 32px;
    line-height: 46px;
    font-weight: bold;
    text-align: center;
}

.elixir-modal-content p {
    font-family: var(--main-font);
    color: var(--second-font-color);
    font-size: 14px;
    line-height: 25px;
    font-weight: normal;
    text-align: center;
}

.elixir-modal-content form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 20px 0;
}

.elixir-modal-content form input {
    width: 90%;
}

.elixir-modal-content form {
    margin: 20px 0;
}

.elixir-modal-content form a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.elixir-modal-window.added-cart h2 {
    position: relative;

}

.elixir-modal-window.added-cart h2::after {
    content: url("../img/check.png");
    position: absolute;
    left: 50%;
    top: -20px;
    transform: translate(-50%, -50%);
}

.modal-catalog .elixir-modal-block {
    background:url("../img/bg-catalog-modal.png") no-repeat -50px -50px, var(--white-bg) ;

}

.modal-catalog .elixir-modal-block img {
    width: 58px;
    height: 74px;
    margin: 34px 0;
}

@media screen and (max-width: 768px) {
    .demiweb {
        display: none;
    }

    .demiweb-mob {
        display: flex;
        position: static;
        margin-top: 20px;
    }

    .elixir-modal-block {
        width: 100%;
    }

    body.scroll-hidden {
        padding-right: 0;
    }

    .elixir-modal-window.search-block .entered-text + ul {
        display: flex;
        overflow-y: scroll;
        max-height: 400px;
    }

    .elixir-modal-window.search-block input {
        font-size: 26px;
        line-height: 36px;
    }
}

